// VARIABLES & MIXINS
$black: black;
$white: white;
$sidebarfontcolor: #A3B3BF;
$linkgrey: #B1C1CC;
$linknavy: #0065B6;
$opensans: 'Open Sans';
$oswald: 'Oswald';
$width100:100%;
$width91:91%;
$width47:47.38461538461539%;
$width25:25px;
$width28:28px;
$linktransition: all 1000ms ease;
$opacity4: .4;
$opacity5: .5;
$opacity75: .75;
$opacitynone: 0;
// sidebar
$sidebarwidgetblue: #106DB3;
$sidebarfontcolor: #A3B3BF;

// more popuar posts
$poppostsborder:#E1E7EA;
$poppostsh1:#083452;

// post
$authorspancolor:#B1C1CC;

// social media buttons
$buttoncolor: #93a4b2;
$buttonhover:#1259a7;
$buttonhoverbefore:#17354e;
$buttonbefore: #485158;
$iconcomment:url("images/icon-comment.png"); 
$iconlater:url("images/icon-upload.png"); 
$iconshare: url("images/icon-share.png");

//footer
$footercolor:#083452;

// link transitions
@mixin transition($linktransition) {
  -webkit-transition: all 1000ms ease;
  -moz-transition: all 1000ms ease;
  -ms-transition: all 1000ms ease;
  -o-transition: all 1000ms ease;
  transition: all 1000ms ease;
}
// END VARIABLES & MIXINS

// BODY
body {
  list-style: none;
  width:$width91;
  margin:0 auto;
  
}
// END BODY

//CONTAINER
.container {
  margin-left: auto;
  margin-right: auto;
  font-family: $opensans;
  width:$width100;
  font-size:$width100;
}

img {
  max-width: $width100;
}

a {
  color:$linkgrey;
  text-decoration:underline;
    &:hover {
      color:$linknavy;
      text-decoration:underline;
      @include transition(1000ms);
    }
}
// END CONTAINER

// HEADER
header {
  background-image: url("images/header.jpg");
  height:523px;
  width:$width100;
  text-align:center;
  background-repeat: no-repeat;
  background-size: $width100;
  margin-bottom: 72px;
}

.navone {
  float:left;
  margin-left:193px;
  font-weight: 700;
  font-size:1.2em;
  color:#08324F;
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
    span {
    text-transform: uppercase;
    font-weight:300;
    font-size:0.875em;
    font-family: $opensans;
    display: inline-block;
    vertical-align: middle;
  }
}

.blogtitle:hover {
  color:white;
  text-decoration: none;
  opacity: $opacity4;
  @include transition(1000ms);
}

.navtwo {
  float:right;
  font-family: $oswald;
  text-transform:uppercase;
  font-size:1.125em;
  color:#08324F;
  margin-top:20px;
  margin-right:193px;
    span {
      margin-right:18px;
    }

    a {
    color:#083451;
    text-decoration: none;

      &:hover {
      color:white;
      text-decoration: none;
      opacity: $opacity4;
      @include transition(1000ms);
    }
  }
}


.pgtitle {
    h1 {
      display: inline-block;
      vertical-align: middle;
      text-transform: uppercase;
      line-height:30px;
      width:$width100;
      text-decoration: bold;
      font-weight:400;
      font-size:6.250em;
      color:white;
      text-shadow: 1.2px 1.2px 1.2px ;
      margin-top:185px;
    }
    h2 {
      font-weight:400;
      color:$black;
      opacity:$opacity5;
      font-size: 0.875em;
      text-align:center;
      clear:both;
      margin-top: -30px;
    }
}
// END HEADER

// ARTICLE
article {
  width:$width47;
  float:left;
  margin-left: 12.615384615384615%;
  margin-top: 0;
  display: block;
  vertical-align: middle;
  margin-bottom: 70px;
  
    h1 {
      margin: 0;
        a {
          font-family: $oswald;
          text-transform:uppercase;
          color:#083452;
          font-size: 1.813em;
          margin: 0;
          text-decoration: none;
          padding: 0;

            &:hover {
            text-decoration:none;
            color:#083452;
            opacity: $opacity4;
            @include transition(1000ms);
            margin: 0;
        }
      }
}

  section {
    color:#727A81;
    margin-bottom: 10px;
    margin-top:10px;
    line-height: 25px;
}

  blockquote {
    border-left: 2px solid #B1C1CC;
    text-transform: uppercase;
    font-family: $opensans;
    font-weight: 300;
    font-size: 1.8em;
    color:$linknavy;
    padding-left:20px;
    margin-bottom: 10px;
    margin-top:10px;
    vertical-align: center;
  }
}

.author {
  color:$linknavy;
  font-size:.75em;
  display: inline-block;
  vertical-align: middle;
  line-height: 25px;
    span {
      color:$authorspancolor;
  }

  img {
  width:$width25;
  height:25px;
  display: inline-block;
  vertical-align: middle;
}
  p {
    color:$linknavy;
    font-size:$width100;
  }
}
// SOCIAL MEDIA BUTTONS
.buttons .button {
  background-color: $buttoncolor;
  font-size: 0.7em;
  display: inline-block;

  &:hover {
    background-color: $buttonhover; 
  }

  &:hover:before {
    background-color: $buttonhoverbefore; 
  }

  &:before {
    content: "";
    background-color: $buttonbefore;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: $width28;
    height: 28px;
    vertical-align: middle; 
  }

  &.comments:before {
    background-image: $iconcomment; 
  }

  &.later:before {
    background-image: $iconlater; 
  }

  &.share:before {
    background-image: $iconshare; 
  }

  a {
    color: $white;
    text-decoration: none;
    padding: 6px;
    display: inline-block; 
}
}

// END SOCIAL MEDIA BUTTONS
// END ARTICLE

// SIDEBAR
aside {
  width:21.384615384615387%;
  margin-right: 12.615384615384615%;
  float:right;
  font-size: 0.813em;
  color:$sidebarfontcolor;
}

.bio {
  text-align:center;
  color:$linkgrey;
  margin-bottom: 57px;
  a {
    text-decoration:none;
    margin-top:0.7692307692307693%;
  }
  p {
  color:$linknavy;
  }
}

.ad {
  text-align:right;
  padding-top:4.076923076923077%;
  margin-bottom: 57px;
  font-size:1em;
}

.widget {
font-size:1em;
  h2 {
    font-size:1.125em;
    color:$sidebarwidgetblue;
    margin-bottom:-8px;
    text-transform: uppercase;
    font-family: $oswald;
    clear:both;
  }
}
// END SIDEBAR

/*popular posts*/

.popposts {
  text-align: center;
  width:$width100;
  border-top: 1px solid $poppostsborder;
  float:left;
    h1 {
    font-family: $oswald;
    text-transform:uppercase;
    color:$poppostsh1;
    font-size: 4em;
    margin-top:44px;
    margin-bottom: 44px;
    text-decoration: none;
  }
}

.box {
  width: 25%;
  position: relative;
  float: left;
  margin: 0;
  border:0;
  padding:0;
  display: block;
  vertical-align: middle;

    img {
    margin: 0;
    border:0;
    padding:0;
    display: block;
  }

  &:after {
    background:#1B77B8;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: $opacity75;
    content: "";
    @include transition(1000ms);
    }

  &:hover:after {
    opacity: $opacitynone;
    }

  span {
    display: inline-block;
    vertical-align: middle;
    float:left;
    line-height: 330px;
  }

  h4 {
  position: absolute;
  bottom: 0;
  font-family: $oswald;
  text-transform:uppercase;
  font-size:1.750em;
  color:#083452;
  left:10px;
  float:left;
  text-align:left;
  }
    &:hover h4 {
    color: $white;
    }
}
// END MORE POPULAR POSTS

// FOOTER
footer {
  clear:both;
  background-color: $footercolor;
  height:97px;
  line-height: 97px;
  font-size: 0.87em;
  color:$sidebarfontcolor;
  text-align: center;
}

.tiy {
  float:left;
  margin-left:166px;

    img {
    display: inline-block;
    vertical-align: middle;
    line-height: 97px;
    margin-right:10px;
  }

  span {
  display: inline-block;
  vertical-align: middle;
  line-height: 97px;
  }

  p {
  display:inline-block;
  vertical-align:middle;
  margin:0;
  }
}

.footnav {
  float:right;
  margin-right:166px;
  line-height: 97px;
}
// END FOOTER