//colors
$color_casper_approx: #b1c1cc;
$color_endeavour_approx: #0065b6;
$color_blue_whale_approx: #08324f;
$white: #fff;
$color_tarawera_approx: #083451;
$black: #000;
$color_rolling_stone_approx: #727a81;
$color_santas_gray_approx: #93a4b2;
$color_trout_approx: #485158;
$color_fun_blue_approx: #1259a7;
$color_nile_blue_approx: #17354e;
$color_cadet_blue_approx: #a3b3bf;
$color_denim_approx: #106db3;
$color_mystic_approx: #e1e7ea;

//fonts
$font_0: "Open Sans";
$font_1: "Open Sans";
$font_2: "Oswald";
$font_3: "Oswald";
$font_4: "Open Sans";
$font_5: "Oswald";
$font_6: "Oswald";
$font_7: "Oswald";

//urls
$url_0: url("images/header.jpg");
$url_1: url("images/icon-comment.png");
$url_2: url("images/icon-upload.png");
$url_3: url("images/icon-share.png");

body {
	list-style: none;
	width: 91%;
	margin: 0 auto;
}
.container {
	margin-left: auto;
	margin-right: auto;
	font-family: $font_0;
	width: 100%;
	font-size: 100%;
}
img {
	max-width: 100%;
}
a {
	color: $color_casper_approx;
	text-decoration: underline;
	&:hover {
		color: $color_endeavour_approx;
		text-decoration: underline;
		//Instead of the line below you could use @includetransition
		transition: all 1000ms ease;
	}
}
.bio {
	text-align: center;
	color: $color_casper_approx;
	margin-bottom: 57px;
	a {
		text-decoration: none;
		margin-top: 0.7692307692307693%;
	}
	p {
		color: $color_endeavour_approx;
	}
}
header {
	background-image: $url_0;
	height: 523px;
	width: 100%;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100%;
	margin-bottom: 72px;
}
.navone {
	float: left;
	margin-left: 193px;
	font-weight: 700;
	font-size: 1.2em;
	color: $color_blue_whale_approx;
	display: inline-block;
	vertical-align: middle;
	margin-top: 10px;
	span {
		text-transform: uppercase;
		font-weight: 300;
		font-size: 0.875em;
		font-family: $font_1;
		display: inline-block;
		vertical-align: middle;
	}
}
.navtwo {
	float: right;
	font-family: $font_2;
	text-transform: uppercase;
	font-size: 1.125em;
	color: $color_blue_whale_approx;
	margin-top: 20px;
	margin-right: 193px;
	a {
		color: $color_tarawera_approx;
		text-decoration: none;
		&:hover {
			color: $white;
			text-decoration: none;
			opacity: 0.4;
			//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
			transition: all 1000ms ease;
		}
	}
	span {
		margin-right: 18px;
	}
}
.pgtitle {
	h1 {
		display: inline-block;
		vertical-align: middle;
		text-transform: uppercase;
		line-height: 30px;
		width: 100%;
		text-decoration: bold;
		font-weight: 400;
		font-size: 6.250em;
		color: $white;
		//Instead of the line below you could use @includetext-shadow($shadow-1, $shadow-2, $shadow-3, $shadow-4, $shadow-5, $shadow-6, $shadow-7, $shadow-8, $shadow-9, $shadow-10)
		text-shadow: 1.2px 1.2px 1.2px;
		margin-top: 185px;
	}
	h2 {
		font-weight: 400;
		color: $black;
		opacity: .5;
		font-size: 0.875em;
		text-align: center;
		clear: both;
		margin-top: -30px;
	}
}
article {
	width: 47.38461538461539%;
	float: left;
	margin-left: 12.615384615384615%;
	margin-top: 0;
	display: block;
	vertical-align: middle;
	margin-bottom: 70px;
	h1 {
		margin: 0;
		a {
			font-family: $font_3;
			text-transform: uppercase;
			color: $color_tarawera_approx;
			font-size: 1.813em;
			margin: 0;
			text-decoration: none;
			padding: 0;
			&:hover {
				text-decoration: none;
				color: $color_tarawera_approx;
				opacity: 0.4;
				//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
				transition: all 1000ms ease;
				margin: 0;
			}
		}
	}
	section {
		color: $color_rolling_stone_approx;
		margin-bottom: 10px;
		margin-top: 10px;
		line-height: 25px;
	}
	blockquote {
		border-left: 2px solid $color_casper_approx;
		text-transform: uppercase;
		font-family: $font_4;
		font-weight: 300;
		font-size: 1.8em;
		color: $color_endeavour_approx;
		padding-left: 20px;
		margin-bottom: 10px;
		margin-top: 10px;
		vertical-align: center;
	}
}
.author {
	color: $color_endeavour_approx;
	font-size: .75em;
	display: inline-block;
	vertical-align: middle;
	line-height: 25px;
	span {
		color: $color_casper_approx;
	}
	img {
		width: 25px;
		height: 25px;
		display: inline-block;
		vertical-align: middle;
	}
	p {
		color: $color_endeavour_approx;
		font-size: 100%;
	}
}
aside {
	width: 21.384615384615387%;
	margin-right: 12.615384615384615%;
	float: right;
	font-size: 0.813em;
	color: $color_cadet_blue_approx;
}
.ad {
	text-align: right;
	padding-top: 4.076923076923077%;
	margin-bottom: 57px;
	font-size: 1em;
}
.widget {
	font-size: 1em;
	h2 {
		font-size: 1.125em;
		color: $color_denim_approx;
		margin-bottom: -8px;
		text-transform: uppercase;
		font-family: $font_5;
		clear: both;
	}
}
.popposts {
	text-align: center;
	width: 100%;
	border-top: 1px solid $color_mystic_approx;
	float: left;
	h1 {
		font-family: $font_6;
		text-transform: uppercase;
		color: $color_tarawera_approx;
		font-size: 4em;
		margin-top: 44px;
		margin-bottom: 44px;
		text-decoration: none;
	}
}
.box {
	width: 25%;
	position: relative;
	float: left;
	margin: 0;
	border: 0;
	padding: 0;
	display: block;
	vertical-align: middle;
	img {
		margin: 0;
		border: 0;
		padding: 0;
		display: block;
	}
	&:after {
		background: $color_denim_approx;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: .8;
		content: "";
		//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
		transition: all 1000ms ease;
	}
	&:hover {
		&:after {
			opacity: 0;
		}
		h4 {
			color: $white;
		}
	}
	span {
		display: inline-block;
		vertical-align: middle;
		float: left;
		line-height: 330px;
	}
	h4 {
		position: absolute;
		bottom: 0;
		font-family: $font_7;
		text-transform: uppercase;
		font-size: 1.750em;
		color: $color_tarawera_approx;
		left: 10px;
		float: left;
		text-align: left;
	}
}
footer {
	clear: both;
	background-color: $color_tarawera_approx;
	height: 97px;
	line-height: 97px;
	font-size: 0.87em;
	color: $color_cadet_blue_approx;
	text-align: center;
}
.tiy {
	float: left;
	margin-left: 166px;
	img {
		display: inline-block;
		vertical-align: middle;
		line-height: 97px;
		margin-right: 10px;
	}
	span {
		display: inline-block;
		vertical-align: middle;
		line-height: 97px;
	}
	p {
		display: inline-block;
		vertical-align: middle;
		margin: 0;
	}
}
.footnav {
	float: right;
	margin-right: 166px;
	line-height: 97px;
}
.blogtitle:hover {
	color: $white;
	text-decoration: none;
	opacity: 0.4;
	//Instead of the line below you could use @includetransition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
	transition: all 1000ms ease;
}
.nav image {
	height: 45px;
	width: 45px;
}
.buttons .button {
	background-color: $color_santas_gray_approx;
	font-size: 0.7em;
	display: inline-block;
	a {
		color: $white;
		text-decoration: none;
		padding: 6px;
		display: inline-block;
	}
	&:before {
		content: "";
		background-color: $color_trout_approx;
		background-repeat: no-repeat;
		background-position: center;
		display: inline-block;
		height: 28px;
		width: 28px;
		vertical-align: middle;
	}
	&:hover {
		background-color: $color_fun_blue_approx;
		&:before {
			background-color: $color_nile_blue_approx;
		}
	}
	&.comments:before {
		background-image: $url_1;
	}
	&.later:before {
		background-image: $url_2;
	}
	&.share:before {
		background-image: $url_3;
	}
}