/*body*/
body {
	width:50%;
}

/*container*/
.container {
	width:100%;
	height:100%;
}

/*header*/
header {
	height:329px;
	width:100%;
}

/*about and search*/
.navtwo {

	float:center;
	margin-top:0;

}

.widget {
   top: -9999px !important;
   left: -9999px !important;
}